html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#site_container {
    min-height: 100%;
    position: relative;
    background: white;
}

#site_header {
    background: whitesmoke;
}

#site_body {
    padding-bottom: 60px;
    background: white;
}

#site_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 100px;
    color: whitesmoke;
}

.question_option_panel {
    background-color: rgba(224, 223, 202, 0.39);
    height: 290px;
}