/* Sticky footer styles */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.informe_form {
	color: #3366CC;
	border-color: #666666;
}

.informe_form input, select {
	color: #000;
}

.informe_form #id_type {
	margin-left: 80px;
}
.informe_form #id_name {
	margin-left: 58px;
	width: 80%;
}
.informe_form #id_opening_date {
	margin-left: 8px;
}
.informe_form .btn {
	position: relative;
	top: -40px;
}