{% extends 'derb/base.html' %}

{% block main_block %}
<div class="panel panel-default">
	<div class="panel-heading">
		Integer Question (admin)
	</div>
	<div class="panel-body">
		<!-- div text area -->
		<div class="col-md-8" >

			{{form.text}}
			<br />
			{{ form.help }}

		</div>

		<!-- div buttons -->

		<div class="col-md-4" style="background-color: #DFDCDC">

			<button type="button" class="btn btn-primary">
				See/Hide
			</button>
			<button type="button" class="btn btn-danger">
				Delete
			</button>
			<button type="button" class="btn btn-success">
				#
			</button>
			<br /><br />
Requirement: {{ form.required }}
<br /><br />
Minimum: 
<br /><br />
Maximum:
<br /><br />
Steps:

		</div>
	</div>

</div>
{% endblock %}