{% extends 'derb/base.html' %}
{% load static %}

{% block body_js %}
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript">
	function toggle_visibility(id) {
		var e = document.getElementById(id);
		if (e.style.display == 'block')
			e.style.display = 'none';
		else
			e.style.display = 'block';
	}
</script>
{% endblock %}

{% block main_block %}
<div class="panel panel-default">

	<div class="panel-heading">
		Simple text question (Administrator)
	</div>

	<div class="panel-body">
		{% csrf_token %}

		<div id="toggle" class="col-md-8">
			{{ form.text}}
			{{ form.help }}
		</div>

		<div class="col-md-4" style="background-color: #DFDCDC">
			<br />
			<br />
			<button onclick="toggle_visibility('toggle')" type="button" class="btn btn-primary">
				See/Hide
			</button>
			<button type="button" class="btn btn-danger">
				Delete
			</button>
			<button type="button" class="btn btn-success">
				#
			</button>
			<br />
			<br />
			Requirement: {{ form.required }}
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>

		<div class="modal-footer">
			<input class="btn btn-primary" type="submit" value="Submit">
		</div>

	</div>

</div>
{% endblock %}

