{% extends 'derb/AdminBase.html' %}

{% load static i18n %}

{% block panel_heading %}
	<div class="panel-heading">
		{% trans 'Table Question (Admin)' %}
    </div>
{% endblock %}

{% block panel_body %}
    <div class="row">
    	<div id="table" class="col-md-8">
    		
    	</div>
        <div class="col-md-4">
        	<button onclick="alert('To do');" type="button" class="btn btn-success">+</button>
       	</div>
    </div>
{% endblock %}

{% block body_js %}
  <script>
    var catalog_url = "{% url 'report_builder:get_catalog_display_fields' %}";
  </script>
  <script src="{% static 'report_builder/js/derb_helpers.js' %}"></script>
  <script src="{% static 'report_builder/js/derb_subcomponents/question_types/table_question.js' %}"></script>

{% endblock %}
