{% extends 'derb/AdminBase.html' %}

{% load static i18n %}

{% block panel_heading %}
	<div class="panel-heading">
		{% trans 'Unique Selection Question (Admin)' %}
    </div>
{% endblock %}

{% block form_question %}
	<form action="{% url 'report_builder:unique_selection_admin' report.pk question_pk %}" method="post">
{% endblock %}

{% block panel_body %}
	<h4 align="center"><strong>{% trans 'Display fields' %}</strong></h4>
    <p><strong>{% trans 'Catalog:' %} </strong><span id="catalog_name"></span></p>
    <div id='display_fields'>
    	{{ form.display_fields }}
    </div>
{% endblock %}

{% block body_js %}
  <script>
    var catalog_url = "{% url 'report_builder:get_catalog_display_fields' %}";
    var m = "{{ question }}";
    var answer_options_json = "{{ question.answer_options | escapejs }}";
  </script>
  <script src="{% static 'report_builder/js/derb_helpers.js' %}"></script>
  <script
      src="{% static 'report_builder/js/derb_subcomponents/question_types/unique_selection_question.js' %}"></script>
{% endblock %}
