<div class="modal fade" id="categories_modal" tabindex="-1" role="dialog" aria-labelledby="categories_modal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="categories_modal">Editing categories/subcategories</h4>
      </div>
      <div class="modal-body form-inline">
        Name:
        <input class="form-control" type="text" id="category_modal_update" onkeypress="hide_if_enter(this, event);"
               name="">
        <input type="hidden" id="modal_category_type" name="create">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="clean_modal();">Close</button>
        <button type="button" class="btn btn-primary" onclick="add_update_category(this);" id="bgm">Save</button>
      </div>
    </div>
  </div>
</div>