{% extends 'admin/question_types/integer_question.html' %}

{% block spinner %}
  <script>
      $(document).ready(function () {
        $('#question_{{ form_number }}').find('#id_minimum').spinner({
          step: 0.01,
          numberFormat: 'n'
        });
        $('#question_{{ form_number }}').find('#id_maximum').spinner({
          step: 0.01,
          numberFormat: 'n'
        });
        $('#question_{{ form_number }}').find('#id_steps').spinner({
          step: 0.01,
          numberFormat: 'n'
        });
        $('.steps_help').popover({
          placement: 'right',
          html: 'true',
          title: 'Help' +
          '<button type="button" id="close_popover" class="close pull-right" onclick="$(&quot;.steps_help&quot;).popover(&quot;hide&quot;);">&times;</button>',
          content: 'How much it increases and decreases the numeric value every time the controls (up and down) are pressed.',
          container: 'body'
        })
      });
    </script>
{% endblock %}