{% extends 'admin/base_question.html' %}

{% block  catalog %}
  {# Minimum #}
  <div class="row spinbox">
    Minimum: {{ form.minimum }}
  </div>

  {# Maximum #}
  <div class="row spinbox">
    Maximum: {{ form.maximum }}
  </div>

  {# Steps #}
  <div class="row spinbox">
    Steps: {{ form.steps }}
    <button type="button" class="btn btn-xs btn-success steps_help">?</button>
  </div>

  {% block spinner %}
    <script>
      $(document).ready(function () {
        $('#question_{{ form_number }}').find('#id_minimum').spinner();
        $('#question_{{ form_number }}').find('#id_maximum').spinner();
        $('#question_{{ form_number }}').find('#id_steps').spinner();
        $('.steps_help').popover({
          placement: 'right',
          html: 'true',
          title: 'Help' +
          '<button type="button" id="close_popover" class="close pull-right" onclick="$(&quot;.steps_help&quot;).popover(&quot;hide&quot;);">&times;</button>',
          content: 'How much it increases and decreases the numeric value every time the controls (up and down) are pressed.',
          container: 'body'
        })
      });
    </script>

  {% endblock %}
{% endblock %}

{% block extra_content %}
  <div id="questions">
    {# Maximum not reached questions #}
    <div id="question_{{ form_number }}_no_max" class="well-sm">
      <div class="well">Questions when maximum value has not been reached</div>
      {% if children.no_max %}
        <ul class="sortable list-group">
        {% for question in children.no_max %}
          <li class="list-group-item">
            {{ question | safe }}
          </li>
        {% empty %}
          Drag and drop your questions here
        {% endfor %}
        </ul>
      {% else %}
        {% include 'admin/sortable_body.html' %}
      {% endif %}
    </div>

    {# Maximum reached questions #}
    <div id="question_{{ form_number }}_max" class="well-sm">
      <div class="well">Questions when maximum value has been reached</div>
      {% if children.max %}
        <ul class="sortable list-group">
        {% for question in children.max %}
          <li class="list-group-item">
            {{ question | safe }}
          </li>
        {% empty %}
          Drag and drop your questions here
        {% endfor %}
        </ul>
      {% else %}
        {% include 'admin/sortable_body.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}