{% extends 'admin/base_question.html' %}
{% load jquery_tags %}

{% block  catalog %}
  {# Minimum #}
  <div class="row spinbox">
    Minimum: {{ form.minimum }}
  </div>

  {# Maximum #}
  <div class="row spinbox">
    Maximum: {{ form.maximum }}
  </div>

  {# Steps #}
  <div class="row spinbox">
    Steps: {{ form.steps }}
    <button type="button" class="btn btn-xs btn-success steps_help">?</button>
  </div>

  {% block spinner %}
    <script>
      $(document).ready(function () {
        $('#question_{{ form_number }}').find('#id_minimum').spinner();
        $('#question_{{ form_number }}').find('#id_maximum').spinner();
        $('#question_{{ form_number }}').find('#id_steps').spinner();
        $('.steps_help').popover({
          placement: 'right',
          html: 'true',
          title: 'Help' +
          '<button type="button" id="close_popover" class="close pull-right" onclick="$(&quot;.steps_help&quot;).popover(&quot;hide&quot;);">&times;</button>',
          content: 'How much it increases and decreases the numeric value every time the controls (up and down) are pressed.',
          container: 'body'
        })
      });
    </script>

  {% endblock %}
{% endblock %}

{% block extra_content %}
  <div id="questions">
    <ul class="nav nav-tabs" id="question_{{ form_number }}_nav">
      {% for key in children.keys %}
        <li class="{% if forloop.counter0 == 0 %}active{% endif %}"><a data-toggle="tab" href="#{{ key }}">{{ key | verbose_header }}</a></li>
      {% endfor %}
      <li><a onclick="new_numerical_subquestion_section(this);" class="btn btn-primary">New subquestion section</a></li>
    </ul>

    <div class="tab-content" id="question_{{ form_number }}_tab_content">
      {% for key, children_questions in children.items %}
        <div class="tab-pane {% if forloop.counter0 == 0 %}active{% endif %}" id="{{ key }}">
          <ul class="sortable list-group">
            {% for question in children_questions %}
              <li class="list-group-item">
                {{ question | safe }}
              </li>
            {% endfor %}
            <li class="list-group-item">Drag and drop your questions here</li>
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="modal fade" id="num_subquestion_modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New subquestion section</h4>
        </div>
        <div class="modal-body">
          <form>
            {{ sub_form.as_p }}
            <input class="btn btn-primary" type="button" onclick="add_numerical_subquestion_section(this);"
                   value="Submit">
          </form>
        </div>
      </div>

    </div>
  </div>
{% endblock %}