{% extends 'admin/question_types/unique_selection_question.html' %}

{% block catalog %}
  <br/>
  <div id="catalog_div">
    Catalogs: {{ form.catalog }}
    <script>
      $('#question_{{ form_number }} #catalog_div').attr(
          'onchange', 'see_hide_combo(this);'
      );
      $(document).ready(function () {
        see_hide_combo($('#question_{{ form_number }} #catalog_div'));
      })
    </script>

    {% if form.catalog.errors %}
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning: </strong>{{ form.catalog.errors }}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block form_footer %}
  {% if form.widget %}
    <div class="panel-footer">
      {% if form.widget.errors %}
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Warning: </strong>{{ form.widget.errors }}
        </div>
      {% endif %}
      <strong>See as: </strong>
      {% for radio in form.widget %}
        {{ radio }}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}