{% extends 'admin/question_types/unique_selection_question.html' %}
{% load static %}

{% block form_footer %}{% endblock %}

{% block extra_content %}
  <div id="questions" class="well-sm">
    <div class="well">
      Insert your questions below
    </div>

    {% if questions.children %}
      <ul class="sortable list-group">
        {% for question in questions.children %}
          <li class="list-group-item">{{ question | safe }}</li>
        {% endfor %}
        <li class="list-group-item">
          Drag and drop your questions here
        </li>
      </ul>
    {% else %}
      {% include 'admin/sortable_body.html' %}
    {% endif %}
  </div>
{% endblock %}