{% extends 'admin/base_question.html' %}
{% load i18n %}
{% load static %}

{% block catalog %}
  <br/>
  <div id="catalog_div">
    Catalogs: {{ form.catalog }}
    <script>
      $('#question_{{ form_number }} #catalog_div').attr(
          'onchange', 'see_hide_combo(this);'
      );
      $(document).ready(function () {
        see_hide_combo($('#question_{{ form_number }} #catalog_div'));
      })
    </script>

    {% if form.catalog.errors %}
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning: </strong>{{ form.catalog.errors }}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block form_content %}
  <h4 align="center"><strong>{% trans 'Display fields' %}</strong></h4>
  <p><strong>{% trans 'Catalog:' %} </strong><span id="catalog_name"></span></p>
  <div id='display_fields'>
    {{ form.display_fields }}
  </div>
{% endblock %}

{% block form_footer %}
  {% if widgets %}
    <div class="panel-footer">
      {% if form.widget.errors %}
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Warning: </strong>{{ form.widget.errors }}
        </div>
      {% endif %}
      <strong>See as: </strong>
      {% for radio in form.widget %}
        {{ radio }}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block question_script %}
  {% include 'admin/add_question.html' %}
  <script
      src="{% static 'report_builder/js/derb_subcomponents/question_types/unique_selection_question.js' %}"></script>
  <script>
    handle_catalog_question_load("#question_{{ form_number }}");
    var catalog_url = "{% url 'report_builder:get_catalog_display_fields' %}";
    var m = "{{ question }}";
    var answer_options_json = "{{ question.answer_options | escapejs }}";
  </script>
  <script src="{% static 'report_builder/js/derb_helpers.js' %}"></script>
{% endblock %}