{% extends 'admin/question_types/question.html' %}
{% load static i18n %}

{% block question_name %}
  {% trans 'Unique selection question' %}
{% endblock %}

{% block question_form %}
  <form action="{% url 'report_builder:unique_selection_admin' report.pk question_pk %}" method="post">
    {% csrf_token %}
    <div class="row">
      <!-- Question Area -->
      <div class="col-md-8">
        <div> {{ form.text }} </div>
        <br/>
        <div> {{ form.help }} </div>
        <br/>

        <div id="display_fields">
          <h4 align="center"><strong>{% trans 'Display fields' %}</strong></h4>
          <p><strong>{% trans 'Catalog:' %} </strong><span id="catalog_name"></span></p>
          <div id='display_fields'>
            {{ form.display_fields }}
          </div>
        </div>
      </div>

      <!-- Buttons Area -->
      <div class="col-md-4 question_option_panel text-center">
        <br>
        <div class="btn-group">
          <a class="btn btn-primary" onclick="toggle_help_input();">{% trans 'See/Hide' %}</a>
          <a class="btn btn-danger" onclick="alert('To do');">{% trans 'Delete' %}</a>
          <a class="btn btn-success" onclick="alert('To do');">#</a>
        </div>
        <br/><br/><br/>

        {% trans 'Requirement:' %} {{ form.required }}
        <br/><br/><br/><br/>

        {% trans 'Catalog:' %} {{ form.catalog }}
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
      </div>
    </div>

    <!-- Submit -->
    <div class="row text-right">
      <div class="col-md-12">
        <input class="btn btn-primary" type="submit" value="Save">
      </div>
    </div>

  </form>
{% endblock %}

{% block extra_js %}
  <script>
    var catalog_url = "{% url 'report_builder:get_catalog_display_fields' %}";
    var m = "{{ question }}";
    var answer_options_json = "{{ question.answer_options | escapejs }}";
  </script>
  <script src="{% static 'report_builder/js/derb_helpers.js' %}"></script>
  <script
    src="{% static 'report_builder/js/derb_subcomponents/question_types/unique_selection_question.js' %}"></script>
{% endblock %}
