{% extends 'derb/base.html' %}
{% load static bootstrap i18n %}

{% block title %} {% trans 'New report template' %} {% endblock %}

{# TODO: FAVICON #}
{% block favicon %}
    <link rel="icon" href="{% static 'admin/img/icon-alert.svg' %}" type="image/svg"/>
    <link rel="shorcut icon" href="{% static 'admin/img/icon-alert.svg' %}"/>
{% endblock %}
{% block header_js %}
{{form.media}}
{% endblock %}

{% block main_block %}
    <div class="col-md-5 col-md-offset-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center"> {% trans 'New report template' %}</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-info text-center">
                   {% trans 'Please fill the required information. You will be automatically redirected to the report\'s question definition page' %}
                </div>
                <form action="" method="post">
                    {% csrf_token %}
       
                        {{ form|bootstrap }}
     
                    <input class="btn btn-info pull-right" type="submit" value="Create" />
                </form>
            </div>
        </div>
    </div>

 
{% endblock %}